include README.txt
include COPYRIGHT.txt
include CHANGES.txt
include MANIFEST.in

recursive-include docs *.html
recursive-include misc *.py
recursive-include test *.py
recursive-include test/data *.py *.txt *.TXT


